@model IEnumerable<Demo.Models.User>
@{
    ViewBag.Title = "UserList";
}


<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header @*bg-theme1*@">
                <h5 class="modal-title" id="exampleModalLabel1">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this record?<br />
                <div style="text-align:right">
                    <input type="button" id="btnYes"  class="btn btn-danger" value="Yes" onclick="DeleteUser()" />
                    <input type="button" id="btnNo" class="btn btn-default" value="No" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("userid")
@Html.ActionLink("Add New User", "SaveUser", null, new { @class="btn btn-info"})
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class=" table  table-responsive">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                    <th>Department</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Active)</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr id="row_@user.Id">
                        <td>@Html.DisplayFor(z => user.Id)</td>
                        <td>@Html.DisplayFor(z => user.FirstName)</td>
                        <td>@Html.DisplayFor(z => user.LastName)</td>
                        <td>@Html.DisplayFor(z => user.Country)</td>
                        <td>@Html.DisplayFor(z => user.Department.Description)</td>
                        <td>@Html.DisplayFor(z => user.Address)</td>
                        <td>@Html.DisplayFor(z=>user.Active)</td>
                        <td>@Html.ActionLink("Edit", "EditUser", new { id = user.Id }, null)</td>
                        <td><input type="button" id="btnDelete" class="btn btn-danger" value="Delete" onclick="Confirmation(@user.Id)" /></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

